
<div class="col-md-9">
    <div class="form-group">
        <input type="text" data-ng-model="search" class="search-query form-control" placeholder="Search name">
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>&nbsp;</td>
            <td><input type="text" data-ng-model="newUser.name"></td>
            <td><input type="text" data-ng-model="newUser.age"></td>
            <td><input type="text" data-ng-model="newUser.gender"></td>
            <th>
                <input type="button" class="btn btn-success" ng-click="addNewUser()" value="Add">
            </th>
        </tr>

        <tr data-ng-repeat="user in users | filter:search | orderBy:'id'">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>

            <td>{{user.age}}</td>
            <td>{{user.gender}}</td>
            <th>
                <a href="#/edit/{{user.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
                <a href="#/delete/{{user.id}}"><i class="glyphicon glyphicon-trash"></i></a>
            </th>
        </tr>
        </tbody>
    </table>
</div>
